body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar navbar-static-top{
  background-color: #ffffff;
}
.sidebar-toggle{
  color: #000000
}
/* .main-sidebar{
  background-color: #ffffff;
} */

.skin-blue .main-header .navbar{
  background-color: #ffffff;

}
.skin-blue .main-header .navbar .sidebar-toggle{
  color:#909090;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
  background-color: #ffffff;

}

.logo_container{
  display: flex;
  justify-content: center;
}

.logo_{
  width: 130px;
}
.skin-blue .sidebar-menu>li.header{
  color: #a7a7a7;
  background: #ffffff;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a{
  color: #a78282;
  background: #efefef;
}
.skin-blue .sidebar-menu>li>.treeview-menu{
  background: #c1c1c1;
}

.padding-container{
  padding: 45px 45px 45px 45px;
}
.padding-menu{
  padding-top: 50px;
}

.mySpinner{
  justify-content: center;
  display:flex;
}